nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top{
    background-color: #F2552C!important;
}

.btn-secondary, .btn-primary{
    background-color: #3A80A2;
    border-color: #3A80A2;
}

.btn-secondary:hover, .btn-primary:hover{
    background-color: #0C5F88;
    border-color: #0C5F88;
}