body{
    background-color: #FF7753;
}

.jumbotron{
    background-color: #FF7753!important;
}

h1.display-4{
    text-align: center;
}

.row{
    justify-content: space-between;
    flex-basis: 33%;
}

.col-md-4{
    background-color: white;
    margin-bottom: 10px;
    float: left;
    max-width: 30%;
    border-radius: 10px;
    text-align: center;
}

img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
figure{
    height: 100px;
}
