.persoons-gegevens{
    margin-left: 50px;
    margin-top: 100px;
    flex: 30%;

}

.persoonlijke-veilingen{
    margin-right: 50px;
    text-align: center;
    margin-top: 100px;
    flex: 70%;
}

.kolommen {
    display: flex;
}


h1.display-4{
    text-align: center;
}

img{
    width: inherit!important;
}

.col-md-4{
    text-align: center;
}

body{
    background-color: #FF7753!important;
}
